body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "comfortaa", sans-serif;
    color: #f5f5f5;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#navButtons {
    order: 2;
}

#navButtons a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navButtons a:hover {
    background-color: #ddd;
    color: black;
}

#navTitle {
    color: white;
    font-size: 1.5em;
    order: 1;
}


#videoContainer {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
}

.animatedTitle {
    position: relative;
    width: 100%;
    top: 30%;
    text-align: center;
    font-size: 2.5em;
    color: white;
    font-family: 'Comfortaa';
    font-weight: bold;
}

.animatedTitle2 {
    position: relative;
    width: 100%;
    top: 32%;
    text-align: center;
    font-size: 1.8em;
    color: white;
    font-family: 'Comfortaa';
    font-weight: bold;
}
.modal {
    display: block; /* Change this to 'none' in your JavaScript to close the modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}

.modal-buttons button {
    margin: 10px;
    padding: 10px 20px;
}